# Configuration for NewsCats, containing credentials and settings that should not be checked into the repo.

# Fabric.
FABRIC_API_KEY=
FABRIC_BUILD_SECRET=

# If specified, overrides the dev server location in dev mode.
BUILD_MACHINE_IP_OVERRIDE=

# Reddit API.
DEBUG_REDDIT_CLIENT_ID=
DEBUG_REDDIT_CLIENT_USERNAME=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_USERNAME=

